version: '3.8'
services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: betterme_user
      POSTGRES_PASSWORD: betterme_password
      POSTGRES_DB: betterme
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - betterme_pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  betterme_pgdata:
  minio_data:
